@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;600;700;900&display=swap");

html {
  min-height: 100%;
}

body {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: #3838384c;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  color: white;
  margin: 16px;
}

.frame {
  width: 80%;
  max-width: 900px;
  min-height: 300px;
  background-color: #ffffff00;
  margin: auto;
  padding: 8px 16px;
  border-radius: 6px;
  text-align: center;
}

.board {
  display: inline-grid;
  border-radius: 3px;
  border: 4px solid;
  overflow: hidden;
  background-color: wheat;
}

@media (max-width: 600px) {
  .frame {
    width: 90%; /* Adjust the width for small screens */
    padding: 8px; /* Adjust the padding for small screens */
  }
}

/* Media query for larger screens */
@media (min-width: 1200px) {
  .frame {
    width: 60%; /* Adjust the width for larger screens */
  }
}
.board div {
  width: 10px;
  height: 10px;
}

.snake {
  background-color: goldenrod;
}

.head.up {
  border-radius: 6px 6px 0 0;
}

.head.right {
  border-radius: 0 6px 6px 0;
}

.head.down {
  border-radius: 0 0 6px 6px;
}

.head.left {
  border-radius: 6px 0 0 6px;
}

.blueberry::after {
  content: "🫐";
  position: relative;
  top: -5px;
  right: -3px;
  font-size: 13px;
}
p {
  text-align: center;
  color: white;
}

p .margin {
  margin: 0 12px;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensures the container takes the full viewport height */
}

.project-card-2 {
  --padding: 44px;
  display: flex;
  flex-direction: column;
  gap: var(--padding);
  border-radius: 100px;
  overflow: hidden;
  width: 55vw;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  animation: collisionEffect 1.3s forwards;
}

@keyframes collisionEffect {
  0% {
    transform: translateY(-100vh);
  }
  70% {
    transform: translateY(30vh);
  }
  100% {
    transform: translateY(0);
  }
}

.project-card-2:hover {
  box-shadow: 0 8px 16px rgb(0, 0, 0);
  transition: 1s;
}

@media (max-width: 768px) {
  .project-card-2 {
    width: 80vw;
    animation-duration: 1s;
  }
  .btn {
    padding: 10px 20px;
    font-size: 14px;
  }
}

.project-card-1,
.project-card-2,
:is(.project-card-4) .card-content {
  padding: var(--padding);
}

/* Media query for small screens */
@media (max-width: 600px) {
  .project-card-2 {
    width: 90vw; /* Adjust the width for small screens */
  }
}

.card-text {
  color: black;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
h3 {
  text-align: center;
  font-size: 40px;
}
.btn-text {
  gap: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: var(--fw-700);
  transition: var(--transition-1);
  font-size: 20px;
  font-weight: bold;
}
span:hover {
  color: #000;
  transition: 1s;
  font-size: 21px;
}
a,
img,
span,
button,
ion-icon {
  display: block;
}

.w-100 {
  width: 40%;
  margin: 0 auto;
}
.centerButtons {
  display: flex;
  justify-content: center;
  gap: 25px;
}
.inputCenter {
  display: flex;
  justify-content: center;
}
