#feedbackPage{
    min-height: calc(100vh - 20rem);
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    max-width: 60rem;
    margin-bottom: 5rem;
    padding-top: 3.5rem;
}

.feedbackDesc {
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem;
}

.feedbackPageTitle {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
